.input-field {
  font-size: 14px;
  color: var(--text-main);
  outline: 2px solid transparent;
  outline-offset: 2px;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.input-default {
  width: 100%;
  background-color: var(--bg-input);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  padding: 10px 16px;
}

.input-default:focus {
  border-color: var(--border-active);
}

.input-default:disabled {
  opacity: 0.5;
  background-color: var(--bg-hover);
}

.input-borderless {
  width: 100%;
  background-color: transparent;
  border: none;
}

.input-error {
  border-color: #ef4444;
}

.input-error:focus {
  border-color: #ef4444;
}
