.cz-input {
  box-sizing: border-box;
  font-size: 14px;
  color: var(--text-main);
  outline: none;
  transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  font-family: inherit;
}

.cz-input-default {
  width: 100%;
  background-color: var(--bg-input);
  border: 1px solid var(--border-color);
}

.cz-input-default:hover {
  border-color: var(--primary-hover);
}

.cz-input-default:focus {
  border-color: var(--primary-active);
  box-shadow: 0 0 0 2px var(--primary-outline);
}

.cz-input-default:disabled {
  opacity: 0.5;
  background-color: var(--bg-hover);
  cursor: not-allowed;
}

.cz-input-borderless {
  width: 100%;
  background-color: transparent;
  border: none;
  padding: 4px 0;
}

/* Sizes */
.cz-input-size-small {
  padding: 4px 11px;
  font-size: 12px;
  border-radius: 4px;
}

.cz-input-size-middle {
  padding: 6.5px 11px;
  font-size: 14px;
  border-radius: 6px;
}

.cz-input-size-large {
  padding: 10px 11px;
  font-size: 16px;
  border-radius: 8px;
}

/* Error status */
.cz-input-error.cz-input-default {
  border-color: var(--color-error);
}

.cz-input-error.cz-input-default:hover {
  border-color: var(--color-error-hover);
}

.cz-input-error.cz-input-default:focus {
  border-color: var(--color-error-active);
  box-shadow: 0 0 0 2px rgba(255, 77, 79, 0.1);
}
