.z-switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 20px;
}

.z-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.z-switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: var(--bg-active);
  transition: .2s;
  border-radius: 20px;
}

.z-switch-slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: .2s;
  border-radius: 50%;
}

.z-switch input:checked + .z-switch-slider {
  background-color: var(--primary-color);
}

.z-switch input:focus + .z-switch-slider {
  box-shadow: 0 0 1px var(--primary-color);
}

.z-switch input:checked + .z-switch-slider:before {
  transform: translateX(16px);
}

.z-switch.disabled .z-switch-slider {
  cursor: not-allowed;
  opacity: 0.5;
}
